@if (!movies) {
    <div>
        <img src="loading.gif" />
    </div>
}@else if (movies.length === 0) {
    <div>
        <p>There are no movies to display</p>
    </div>
}@else{
    @for (movie of movies; track $index) {
        <div class="movies-container">
            <div>
                <img [src]="movie.poster" width="169" height="250" />
            </div>
            <div>
                <div>
                    {{$index+1}}) Movie: <b>{{movie.title | uppercase}}</b>
                </div>
                <div>
                    Release Date: {{movie.releaseDate | date:"MMMM-dd-yyyy" | uppercase}}
                </div>
                <div>
                    Price: {{movie.price | currency}}
                </div>
            </div>
        </div>
    }
}